body {
    font-family: helvetica;
    font-weight: 300;
    color: gray;
    font-size: 14px;
}
.container.header {
    height: 50px;
    background-color: #ffffff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    z-index: 9;
    margin: 14px;
    border-radius: 7px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-end;
}
.header.item {
    position: relative;
    align-self: flex-start;
    width: 170px;
}
.container.zoeken {
    margin-top: 15px;
    margin-left: 14px;
}
.container.zoeken input {
    color: grey;
    font-size: 14px;
}
.container.zoeken input:hover {
    color: darkgrey;
}
.container.zoeken input{
    border: none;   
}
.container .dropdown {
    height: 30px;
    width: 70px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 5px;
    margin-right: 8px;
}
.container.dropdown:hover{
    background-color: lightgrey;
    color: white;
}
.container.dropdown.active{
    background-color: lightgrey;
    color: white;
}
.dropdown-menu {
    height: 0px;
    width: auto;
    margin: 5px;
    margin-top: -12px;
    overflow: hidden;
    right: 5px;
    left: 5px;
    border-radius: 5px;
    position: fixed;
    z-index: 9;
    background: white;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.4s;
    
}
.dropdown-menu.active {
    height: 145px;
}
.dropdown-menu li {
    list-style-type: none;
    margin-left: -40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
 .dropdown-menu li a{
    width: 100%;
    color: gray;
    padding-left: 18px; 
    text-decoration: none; 
    display: inline-block;
}
li:hover {
    font-weight: 400;
    background: #F9F9FA;
}
li.active {
    font-weight: 700;
}
.divider {
    height: 1px;
    margin-left: -40px;
    background: grey;;  
}
.dropdown-menu li.geenfilter {
    padding-bottom: 15px;
}
.container.main {
    max-width: 1000px;
    padding: 0;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.gallery.item{
    display: none;
}
.gallery.item.active{
    display: block;
    position: relative;
    align-self: flex-start;
    width: 150px;
    height: 120px;
    margin: 5px;
    opacity: 100;
}
.rozeresult.active{
    display: block;
    position: relative;
    align-self: flex-start;
    width: 150px;
    height: 120px;
    margin: 5px;
}
.blauwresult.active{
    display: block;
    position: relative;
    align-self: flex-start;
    width: 150px;
    height: 120px;
    margin: 5px;
}
.geelresult.active{
    display: block;
    position: relative;
    align-self: flex-start;
    width: 150px;
    height: 120px;
    margin: 5px;
}
.gallery.item:hover {
    margin-top: 3px;
    transition: all 0.3s;
}
.gallery.item img {
    width: 100%;
    height: 120px;
    border-radius: 5px;
    opacity: 0.9;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.4s;
}
.gallery.item img:hover {
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.3), 0 1px 7px 0 rgba(0, 0, 0, 0.3); 
    opacity: 0.4;
}
.datum {
    position: absolute;
    bottom: 4px;
    left: 7px;
    color: white;
    font-size: 12px;
    text-shadow: 0.1px 0.4px 0.4px black;
}
.tag {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 12px;
    color: black;
    background: white;
    padding: 2px 6px 2px 6px;
    border-radius: 5px;
    opacity: 0.9;
}
.loaderr {
    opacity: 0;
    transition: all 0.3s;
}
.loaderr.active {
    opacity: 100;
}
.loaderr p{
    position: fixed;
    z-index: 99;
    top: 50%;
    left: 37.6%;
}
.loaderr img {
    position: fixed;
    z-index: 99;
    width: 40px;
    height: 40px;
    top: 45%;
    left: 44.6%;
}
.touch.active {
    display: none;
}
.touch {
    display: block;
    align-self:center;
    width: 100%;
    margin-left: 45%;
}
.popup {
    display: none;
}
.popup.active {
    text-align: right;
    font-size: 12px;
    color: black;
    opacity: 0.9;
    display: block;
    position: absolute;
    align-self: flex-start;
    z-index: 9999999;
    background-color: white;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    top: 25px;
    right: 9px;
}