/*  FLEXBOXX  */
body {
    font-family: helvetica;
    font-weight: 300;
    color: gray;
    font-size: 14px;
}
.container.header {
    height: 50px;
    background-color: #ffffff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    z-index: 9;
    margin: 14px;
    border-radius: 7px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-end;
}
.header.item {
    position: relative;
    align-self: flex-start;
    width: 170px;
}
.container.zoeken {
    margin-top: 15px;
    margin-left: 14px;
}
.container.zoeken input {
    color: grey;
    font-size: 14px;
}
.container.zoeken input{
    border: none;   
}
.container .dropdown {
    height: 30px;
    width: 70px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 5px;
    margin-right: 8px;
}
.container.dropdown.active{
    background: lightgrey;
    color: white;
}
.dropdown-menu {
    display: block;
    background: white;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    width: auto;
    height: auto;
    right: 5px;
    left: 5px;
    border-radius: 5px;
    margin: 5px;
    margin-top: -12px;
    position: fixed;
    z-index: 9;
}
.dropdown-menu li {
    list-style-type: none;
    margin-left: -40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
 .dropdown-menu li a{
    width: 100%;
    color: gray;
    padding-left: 18px; 
    text-decoration: none; 
    display: inline-block;
}
li.active {
    font-weight: 700;
}
.dropdown-menu li.geenfilter {
    padding-bottom: 15px;
}
.container.main {
    max-width: 1000px;
    padding: 0;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.gallery.item{
    display: block;
    position: relative;
    align-self: flex-start;
    width: 169px;
    height: 120px;
    margin: 5px;
}
.rozeresult{
    display: block;
    position: relative;
    align-self: flex-start;
    width: 169px;
    height: 120px;
    margin: 5px;
}
.gallery.item img {
    width: 100%;
    height: 120px;
    border-radius: 5px;
    opacity: 0.9;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}