@montserrat-medium {
   font-family: MontSerrat-Light;
   src: url(/assets/fonts/Montserrat-Medium.ttf);
}
@montserrat {
   font-family: MontSerrat;
   src: url(/assets/fonts/Montserrat-Regular.ttf);
}
@montserrat-bold {
   font-family: MontSerrat;
   src: url(/assets/fonts/Montserrat-Bold.ttf);
}
body{
    font-size: 11px;
    font-family: MontSerrat-medium;
    margin: 0;
    padding: 0;  
}
main {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: 500;
}
.header {
    margin: 0;
    padding: 0;
    margin-top: -15px;
    background-color: #FF9800;
    margin-bottom: -35px;
}
header {
    padding: 20px 20px 5px 20px;;
    color: white;
}
header p {
    margin-top: -10px;
}
ul {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    padding: 0px;
    vertical-align: middle;
}
li {
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
    display: inline-block;
    vertical-align: middle;
}
.crypto li:first-child, .headlist li:first-child {
    text-align: center;
    width: 12px;
}
.crypto li:nth-child(2), .headlist li:nth-child(2) {
    text-align: left;
    width: 50px;
}
.crypto li:nth-child(3), .headlist li:nth-child(3) {
    text-align: right;
    width: 110px;
}
.crypto li:nth-child(4), .headlist li:nth-child(4) {
    text-align: right;
    width: 65px;

}
.crypto li:nth-child(5) , .headlist li:nth-child(5) {
    text-align: right;
    width: 65px;
}
.headlist li{
    margin-top: 18px;
    margin-bottom: 18px;

    vertical-align: middle;
    color: white;
}
.headlist {
    background-color: #FF9800;
    box-shadow: 0px 2px 7px -2px rgba(0, 0, 0, 0.15);
    z-index: 999999;
}
.headlist .symbol {
    padding-top: 0px;
}
.crypto {
    border-bottom: 1px solid #ddd;
}
.symbol {
    vertical-align: middle;
    padding-top: 11px;
    padding-bottom: 0px;
    color: #000;
    font-weight: 500;
}
.name {
    margin-top: 3px;
    color: #9ea6ae;
    font-size: 10px;
}
.rank {
    color: #9ea6ae;
    font-size: 10px;
}
.capacity {
    padding-right: 15px;
}
.rank {
    padding-left: 10px;
    padding-right: 10px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}
.scrolled {
    margin-top: 75px;
}
